fastapi
uvicorn[standard]
python-jose[cryptography]
pymongo[srv,tls]>=4.0 # Ensures support for async and includes bson
passlib[bcrypt]
pydantic[email]
requests
python-dotenv
dateutils
slowapi
